footer {
    text-align: center;
    padding: 20px;
    background-color: var(--cor-principal);
    color: var(--cor-texto);
      /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
  }