nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: var(--cor-principal);
    padding: 30px;
  }
  
  nav a {
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--cor-texto);
  }
  
  nav a:hover {
    color: #ffe57f;
  }
  
  nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4px;
    background-image:
      linear-gradient(90deg, #ffe57f 25%, transparent 25%),
      linear-gradient(90deg, #ffe57f 25%, transparent 25%);
    background-size: 8px 8px;
    transform: scaleX(0);
    transform-origin: left center;
      transition: transform 0.3s ease;
  }
  
  nav a:hover::after {
    transform: scaleX(1);
  }
  