/* index.css ou global.css */
:root {
  /* Tipografia e fonte padrão */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Suporte a temas claro e escuro */
  color-scheme: light dark;

  /* Variáveis para o tema claro */
  --bg-color: #ffffff;
  --text-color: #333;
  --cor-principal: #ff9800;
  --cor-texto: #fff;

  /* Cor de destaque para links */
  --link-hover: #ffe57f;
  --barra-color: #222;
  --barra-bg: #555;
  --barra-fill: #ff9800;
}

[data-theme='dark'] {
  /* Variáveis para o tema escuro */
  --bg-color: #222;
  --text-color: #f0f0f0;
}



html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #fafafa;
  background-image:
  linear-gradient(90deg, rgba(255, 152, 0, 0.15) 1px, transparent 1px),
  linear-gradient(rgba(255, 152, 0, 0.15) 1px, transparent 1px);
  background-size: 40px 40px;

    background-color: var(--bg-color);
    color: var(--text-color);  
}


.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:
  linear-gradient(90deg, rgba(255, 152, 0, 0.15) 1px, transparent 1px),
  linear-gradient(rgba(255, 152, 0, 0.15) 1px, transparent 1px);
  background-size: 40px 40px;
}

.barra-container {
  position: relative;
  width: 300px;
  height: 40px;
  background-color: var(--barra-bg);
  border-radius: 20px;
  overflow: hidden;
}

.barra-preenchida {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #f9d423 0%, var(--barra-fill) 100%);
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  animation: encher 4s forwards;
  position: relative;
}

.milho {
  font-size: 1.8rem;
  user-select: none;
  position: relative;
  left: 0;
  animation: acompanhar 4s forwards;
}

/* Animação da barra enchendo */
@keyframes encher {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Milho acompanha o preenchimento, indo da esquerda para direita */
@keyframes acompanhar {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 30px); /* margem para não sair da barra */
  }
}

